.hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #474747;
    color: white;
}

.hero-section .name {
    color: white;
    font-weight: 600;
    margin: 25px 0px 0px 0px;
}

.hero-section .title {
    justify-content: start;
    align-items: center;
}

.hero-section h4 {
    margin: 0;
    color: rgba(255, 187, 0, 0.733);
    font-weight: 400;
}

.hero-section h5 {
    font-weight: 300;
    margin: 10px 0 0 0;
}

.hero-section-buttons {
    display: flex;
    flex-direction: row;
}

.hero-section-buttons .email {
    width: 100px;
    height: 40px;
    padding-bottom: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    background: white;
    font-weight: 400;
    text-decoration: none;
}

.hero-section-buttons .linkedin {
    width: 100px;
    height: 40px;
    padding-bottom: 2px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    background: #2867B2;
    font-weight: 400;
}

.hero-section .section-description {
    font-weight: 300;
    padding: 10px 10px 20px 20px;
    font-size: 13px;
}

.hero-section .title {
    padding: 10px 10px 0px 20px;
    margin-bottom: -15px;
}

.hero-section .interests {
    margin-top: -40px;
}